@model IEnumerable<Nightjar.ToTheLast.Entities.Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Gallery</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.DisplayImage))
                {
                    <img style="height:100px;" src="~/SiteContent/Images/Gallery/@item.DisplayImage" />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GalleryID }) |
                <form method="post" action="@Url.Action("Delete")" style="display:inline;">
                    <input type="hidden" value="@item.GalleryID" name="id" />
                    <a href="#" class="delete-btn">Delete</a>
                </form> |
                @Html.ActionLink("Images", "Index", "Image", new { galleryID = item.GalleryID }, null)
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".delete-btn").click(function (e) {
                var frm = $(this).closest("form");
                e.preventDefault();
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        frm.submit();
                    }
                });
            });
        });
    </script>
}
