@model IEnumerable<Nightjar.ToTheLast.Entities.News>

@{
    ViewBag.Title = "News";
}

<h2>Blog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
    </tr>
}

</table>
