@model IEnumerable<Nightjar.ToTheLast.Entities.Gig>

@{
    ViewBag.Title = "Gigs";
}

<h2>Gigs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.Venue)</h4>
                <p><em>@Html.DisplayFor(modelItem => item.Description)</em></p>
            </td>
        </tr>
    }

</table>
