@model IEnumerable<Nightjar.ToTheLast.Entities.Guestbook>

@{
    ViewBag.Title = "Guestbook";
}

<h2>Guestbook</h2>

<p style="float:right;">
    @Html.ActionLink("Add Comment", "AddComment")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        if (item.Display)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                    <p style="margin-top:1em;color:lightslategrey"><em>@Html.DisplayFor(modelItem => item.Reply)</em></p>
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
            </tr>
        }
    }

</table>
