@model IEnumerable<Nightjar.ToTheLast.Entities.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Images for the @ViewBag.Gallery</h2>

<p>
    @Html.ActionLink("Add New", "Create", new { galleryID = ViewBag.GalleryID })
</p>
@if (Model.Count() > 0 && ViewBag.DefaultImage == null)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Select an image for the Gallery page using the radio buttons next to the image</strong>
    </div>
}
<table class="table">
    <tr>
        <th></th>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><input type="radio" name="defaultImage" value="@item.Filename" checked="@(ViewBag.DefaultImage==item.Filename?"checked":(string)null)" class="defaultImage" /></td>
            <td>
                <img style="height:100px;" src="~/SiteContent/Images/Gallery/@item.Filename" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ImageID }) |
                <form method="post" action="@Url.Action("Delete")" style="display:inline;">
                    <input type="hidden" value="@item.ImageID" name="id" />
                    <input type="hidden" value="@item.GalleryID" name="galleryID" />
                    <a href="#" class="delete-btn">Delete</a>
                </form>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".delete-btn").click(function (e) {
                var frm = $(this).closest("form");
                e.preventDefault();
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        frm.submit();
                    }
                });
            });

            $(".defaultImage").click(function (e) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateDefaultImage")",
                    data: {image:$(this).val(),galleryID:@ViewBag.GalleryID},
                    dataType: "json",
                    success: function (response) {
                        $(".alert").slideUp();
                    }
                });

            });
        });
    </script>
}
