@model IEnumerable<Nightjar.ToTheLast.Entities.Profile>

@{
    ViewBag.Title = "The Band";
}
@section styles
{
    <style>
        .image-upload-container { margin: 1em 0; }
        .table tr td:nth-child(5){width:7em;}
    </style>
}

<h2>The Band</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            Text
        </th>
        <th>
            Order
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("AddImage", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (item.ImageExists)
                    {
                        <img style="height:200px;" alt="@item.ImageName" src="~/SiteContent/Images/Band/@item.ImageName" />
                        <div style="margin:1em 0;">
                            <label for="file">Change Image</label>
                            <span class="btn btn-default btn-file">
                                Browse <input type="file" name="file">
                            </span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <label for="file">Add Image</label>
                            <span class="btn btn-default btn-file">
                                Browse <input type="file" name="file">
                            </span>
                        </div>
                    }

                    <input type="hidden" name="profileID" value="@item.ProfileID" />
                    <div class="image-upload-container" style="display:none;">
                        <span class="image-name"></span>
                        <input type="submit" value="Upload" class="btn btn-primary" />
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Raw(item.ProfileText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProfileID }) |
                <form method="post" action="@Url.Action("Delete")" style="display:inline;">
                    <input type="hidden" value="@item.ProfileID" name="id" />
                    <a href="#" class="delete-btn">Delete</a>
                </form>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var td = $(this).closest("td");
                td.find(".image-upload-container").slideDown();
                td.find(".image-name").text(label);
            });

            $(".delete-btn").click(function (e) {
                var frm = $(this).closest("form");
                e.preventDefault();
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        frm.submit();
                    }
                });
            });
        });
    </script>
}
